<template name="topNavbar">
    <div class="row">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn" href="#"><i class="fa fa-bars text-white"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results">
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control text-white" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-white welcome-message"> Welcome</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label bg-light-blue">2</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="/img/a1.jpg">
                                </a>
                                <a href="/messageView/1" class="normal-link">
                                    <div class="media-body">
                                        <small class="pull-right">46h ago</small>
                                        <strong>Anna Smith</strong> Lorem ipsum dolor noretek imit set. <br>
                                        <small class="text-white">3 days ago at 7:58 pm - 10.06.2014</small>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="/img/landing/avatar5.jpg">
                                </a>
                                <a href="/messageView/2" class="normal-link">
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">5h ago</small>
                                        <strong>Damien Rits</strong> Oor Lorem Ipsum is that it has a more-or-less normal. <br>
                                        <small class="text-white">Yesterday 1:21 pm - 11.06.2014</small>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="{{pathFor route='messages'}}">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label bg-light-green">4</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="{{pathFor route='messages'}}">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 2 messages
                                    <span class="pull-right text-white small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>                        
                        <li>
                            <a href="{{pathFor route='notificationAccepted'}}">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Amelia Dennis accepted appointment.
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{pathFor route='notificationAccepted'}}">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Maude Floyd cancelled appointment.
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="{{pathFor route='notifications'}}">
                                    <strong>See all notifications</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</template>